# Django settings
DEBUG=True
DJANGO_SECRET_KEY="change-me"
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False

# Database (for local dev; Elastic Beanstalk auto-populates RDS_* in production)
DATABASE_URL=
PGDATABASE=
PGHOST=
PGPORT=5432
PGUSER=
PGPASSWORD=

# AWS
AWS_REGION=eu-north-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=podcast-fl

# Application
PODCAST_LIMIT=1000
EMAIL=rfl.radiofrequenzalibera@gmail.com
